<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="duke" class="com.springbase.idol.imp.Juggler">
        <constructor-arg value="15"></constructor-arg>
    </bean>
    <bean id="sonnet29" class="com.springbase.idol.imp.Sonnet29"/>
    <bean id="poeticJuggler" class="com.springbase.idol.imp.PoeticJuggler">
        <constructor-arg value="30"/>
        <constructor-arg ref="sonnet29"/>
    </bean>

    <bean id="theStage" class="com.springbase.idol.imp.Stage" factory-method="getInstance"/>
</beans>